{% extends 'base.html' %}

    {% block head %}  
    <title>Vago MyBag - JNS | Student My Bag</title>
    {% endblock %}
    {% block navbar %}  
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/teacher-dashboard">Dashboard</a>
    </li>
    {% endblock %}

      {% block body%}
      <div class="container">

        
    
            <div class="row">
          <div class="col-2">
            <label for="class-select">MyBag For : </label>
          </div>
          <div class="col-6">
            <select class="form-select" disabled>
              
            <option>{{myBagData[0]['fields']['classDivision']}}</option>
            </select>
          </div>
        </div>
        <hr>
        
      

        <form action="/submitDay" method="POST">
          <div class="row">
            <div class="col-2">
              <label for="dayselect">MyBag Day - </label> 
            </div>
            <div class="col-5">
              <select id="dayselect" name="dayselect" class="form-select">
               
                  <option value="{{value}}">{{myBagData[0]['fields']['day']}}</option>
                
              </select>
              
            </div>
            <div class="col-2">
              <label for="dateselect">MyBag Date - </label> 
            </div>
            <div class="col-3">
              <input type="date" id="dateselect" name="dateselect" class="form-control">
              
            </div>
            <div class="col-2">
              <a href="/submitDay"><button class="btn btn-success" type="submit">Enter</button></a>
            </div>
          </div>
          
        
        </form>
    
  
    <br>
    <label>Day : {{myBagData[0]['fields']['day']}}</label>
    <hr>
    <div class="row">
      <div class="col-2">
        Period Number
      </div>
      <div class="col-2">
        TimeTable
      </div>
      <div class="col-2">
        TextBook
      </div>
      <div class="col-2">
        NoteBook
      </div>
      <div class="col-2">
        WorkBook
      </div>
    </div>

    <br><br>
  
    
      <!-- {% for i in range(0,12) %} -->
      
      <form action="/submitMyBag" method="POST" >
        
        <div class="row">
          
          <div class="col-2 text-left">
            {{ i+1 }}
          </div>
          <div class="col-2"  >
            <select class="form-select" name="period_{{i}}" aria-label="Default select example" disabled>
                  <option selected  value="{{ myBagData[i]['fields']['subjectName'] }}">{{ myBagData[i]['fields']['subjectName'] }}</option>
              </select>
          </div>
        
          
          <div class="col-2"  >

            {% if myBagData[i]['fields']['textbook'] %}
            <input class="form-check-input" type="checkbox" value="textbook-period_{{i}}" name="textbook-period" checked disabled>
            {% else %}
            <input class="form-check-input" type="checkbox" value="textbook-period_{{i}}" name="textbook-period" disabled>
            {% endif %}
          </div>
          <div class="col-2"  >
            
            {% if myBagData[i]['fields']['notebook'] %}
            <input class="form-check-input" type="checkbox" value="notebook-period_{{i}}" name="notebook-period" checked disabled>
            {% else %}
            <input class="form-check-input" type="checkbox" value="notebook-period_{{i}}" name="notebook-period" disabled>
            {% endif %}
          </div>
          <div class="col-2"  >
            
            {% if myBagData[i]['fields']['workbook'] %}
            <input class="form-check-input" type="checkbox" value="workbook-period_{{i}}" name="workbook-period" checked disabled>
            {% else %}
            <input class="form-check-input" type="checkbox" value="workbook-period_{{i}}" name="workbook-period" disabled>
            {% endif %}
          </div>
        </div>

        <hr>
      <!-- {% endfor %} -->
      <div class="container">
        <div class="col-11">

        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-primary text-right"> Submit</button>
        </div>
      </form>

        
      </div>
    
  </div>
      {% endblock %}
    
    {% block siuu %}
    
    {% endblock %}
