{% extends 'base.html' %}

    {% block head %}  
    
    {% endblock %}
    {% block navbar %}  
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/teacher-dashboard">Dashboard</a>
    </li>
    {% endblock %}

      {% block body%}
      <div class="background-color row-5 col-5-sm">
      <center>
        <br><br>
      <div class="grade">
        <div style="color: white;margin: 20px;">
        <h2>Welcome {{ teacherInfo['teacherName'] }}!</h2><br>
        <form action="/sendNotes" method="POST">
        <div class="mb-3">
          <label for="note" class="form-label">Send a note : </label>
          <textarea class="form-control" name="note"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Send</button>
        </div>
        
      </form>
      <hr>
      <div class="mb-3">
        <a href="/timetable"><button class="btn btn-primary">TimeTable</button></a>
      </div>
      <hr>
      <div class="mb-3">
        <a href="/myBagTeacher"><button class="btn btn-primary">Update MyBag</button></a>
        
      </div>
      </div>
      
    <br><br>
  </center>
  <br><br>
</div>

  
    <br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
      
    </script>
    
    
{% endblock %}

