{% extends 'base.html' %}

    {% block head %}  
    
    {% endblock %}
    {% block navbar %}  
    
    {% endblock %}

      {% block body%}
      <div class="container">
        <!-- <form>
          <div class="col-6">
            <label for="class-select">Timetable For : </label>
          </div>
          <div class="col-6">
            <select class="form-select" disabled>
              
            <option>{{ credentials }}</option>
            </select>
          </div>
          
        </form> -->
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">-</div>
          <div class="col"><b>Monday</b></div>
          <div class="col"><b>Tuesday</b></div>
          <div class="col"><b>Wednesday</b></div>
          <div class="col"><b>Thursday</b></div>
          <div class="col"><b>Friday</b></div>
          <div class="col"><b>Saturday</b></div>
        </div>
      <!-- {% for i in range(0,8) %} -->
      <hr>
      
        
        <div class="row">
          
          <div class="col">
            Period - {{ i+1 }}
          </div>
          <div class="col">
            <select class="form-select" name="monday-period_{{i}}" aria-label="Default select example">
              
                
                <option value="{{ timetableData[i]['fields']['monday'] }}">{{ timetableData[i]['fields']['monday'] }}</option>
                
                
              </select>
          </div>
          <div class="col">
            <select class="form-select" name="tuesday-period_{{i}}" aria-label="Default select example">
              
              
              <option value="{{ timetableData[i]['fields']['tuesday'] }}">{{ timetableData[i]['fields']['tuesday'] }}</option>
              
              
                
              </select>
          </div>
          <div class="col">
            <select class="form-select" name="wednesday-period_{{i}}" aria-label="Default select example">
              
              
              <option value="{{ timetableData[i]['fields']['wednesday'] }}">{{ timetableData[i]['fields']['wednesday'] }}</option>
              
              
              </select>
          </div>
          <div class="col">
            <select class="form-select" name="thursday-period_{{i}}" aria-label="Default select example">
              
              <option value="{{ timetableData[i]['fields']['thursday'] }}">{{ timetableData[i]['fields']['thursday'] }}</option>
              </select>
          </div>
          <div class="col">
            <select class="form-select" name="friday-period_{{i}}" aria-label="Default select example">
              
              <option value="{{ timetableData[i]['fields']['friday'] }}">{{ timetableData[i]['fields']['friday'] }}</option>
              </select>
          </div>
          <div class="col">
            <select class="form-select" name="saturday-period_{{i}}" aria-label="Default select example">
                <option value="{{ timetableData[i]['fields']['saturday'] }}">{{ timetableData[i]['fields']['saturday'] }}</option>
              </select>
          </div>
          
        </div>
      
        
      
      <!-- {% endfor %} -->
      

        

    </div>
      {% endblock %}
    
    {% block siuu %}
    <nav class="navbar sticky-bottom bg-body-tertiary" style="height:80px">
      <div class="container-fluid">
        <a href="{{ url_for('single') }}"><button class="btn btn-success" >Login as student</button></a>
      </div>
    </nav>
    {% endblock %}
